    <!-- About Us Page -->

    <div class="about-us-section">
        <div class="about-us-container">
            <div class="content-section">
                <div class="about-us-title">
                    <h1>About Us</h1>
                </div>
                <div class="about-us-content">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                    <div class="button">
                        <a href="">View our work</a>
                    </div>
                </div>
                
            </div>
            <div class="image-section">
               

            <div class="whatwedo">
               
                <div class=" meetingplayers about1 about">
                    <h2> Wfchjg </h2>
                    <p> ;oluygdfgklyftsrsfyjilokgcgstrt </p>
                </div>

                <div class="about2 about">
                    <h2> What We Do </h2>
                    <p> We help people to meet with the desired group of people who play same game </p>
                </div>
                <div class=" about3 about">
                    <h2> What We Do </h2>
                    <p> We help people to meet with the desired group of people who play same game </p>
                </div>

            </div>
            </div>
        </div>
    </div>