<!-- About Us Page -->

<div class="about-us-section">
    <div class="about-us-container">
        <div class="about-us-left">
            <div class="about-us-title">
                <h1>About Us</h1>
            </div>
            <div class="about-us-content">
                {{!-- <i class="uil uil-info-circle"></i>
                <h3>PickUpSports</h3 --}} <p>PickUpSports, by thereWillBeCode, is a fast-growing application focused on community health and wellbeing that
                keeps culture and creativity, health and well-being at the heart of everything we do.
                <br>
                Find your players! Find your game! Create your game!
                </p>
            </div>

        </div>
        <div class="about-us-right">
            
                <div class="whoweare about">
                    <h2> Who We Are </h2>
                
                    <p> thereWillBeCode is:
                        Kelcie Mitchelmore, Kiranjot Kaur, Evan Boileau, Luca Rojas, Don McLean</p>
                    <br>    
                    <p> Our mission:
                        to help people unlock their creativity and to improve their physical, mental, and
                        social health and well-being by participating in group sports and recreational activities at the
                        community level. 
                    </p>
    
                </div>


                <div class="whatwedo about">
                    <h2> What We Do </h2>
                    <p> Our application, "PickUpSports", helps individuals and groups Create and Participate in sports
                        and recreational activities in their Local areas using our uniquely powerful design platform and
                        tireless support. 
                        <br>
                        <br>
                        Current sports: hockey, baseball, basketball, soccer, and tennis. 
                        Current locations: Greater Toronto Area (GTA), Toronto, Canada.
                    </p>  
                    
                </div>


            
        </div>
    </div>
</div>




<script src="./public/assets/js/swiper-bundle.min.js"></script>
<script src="./public/assets/js/functions.js"></script>
<script src="./public/assets/js/animations.js"></script>
<script src="./public/assets/js/login.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>