    <!-- About Us Page -->

    <div class="about-us-section">
        <div class="about-us-container">
            <div class="content-section">
                <div class="about-us-title">
                    <h1>About Us</h1>
                </div>
                <div class="about-us-content">
                    <h3>PickUpSports - Helping others to Create and join games in Local areas</h3>
                    <p>PickUpSports is a fast-growing application that
                             keeps culture and creativity at the heart of
                            everything we do. Our mission is to help
                            custorners unlock their creativity and recreational activities  and  build
                              events and join Games  using our uniquely
                            powerful design platform and our tirelessly
                             helpful support.</p>

                </div>
                
            </div>
            <div class="image-section">
               

            <div class="whatwedo">
               
                <div class=" meetingplayers about1 about">
                    <h2> Who Are We </h2>
                    <p> Kelcie Mitchelmore, Kiranjot Kaur, Evan Boileau, Luca Rojas, Don McLean
                            Our mission is to help people unlock their creativity and to improve their physical, mental, and social health and well-being by participating in group sports and recreational activities at the community level. </p>
                </div>


                <div class=" about3 about">
                    <h2> What We Do </h2>
                    <p> Our application, "pick_up_sports", helps individuals and groups Create and Participate in sports and recreational activities in their Local areas using our uniquely powerful design platform and tireless helpful support. Current sports offerings include: hockey, baseball, basketball, soccer, and tennis. Current locations are in the Greater Toronto Area (GTA), Toronto, Canada.
                        </p>
                    </div>
                    

                </div>
                </div>
            </div>
        </div>




        <script src="./public/assets/js/swiper-bundle.min.js"></script>
    <script src="./public/assets/js/functions.js"></script>
    <script src="./public/assets/js/animations.js"></script>
    <script src="./public/assets/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 </p>
                </div>

            </div>
            </div>
        </div>
    </div>