<div id="contact_page_container">

    <div id="contact_spacer">

        <div class="contact_panel_left">

            <h2 id="contact-panel-left-h2">Contact Us</h2>
                <p id="contact-panel-left-p">Email us with any questions or inquiries or call 123-456-7890. We would be
                        happy to answer your questions and set up a meeting with you. Our
                         app  can help set you apart from the flock!</p>

            <h2>Address</h2> 
            <p> ABC Road  <br /> Toronto , Ontario <br /> M3HXXX</p>

            <h2>Phone</h2> 
            <p>123-456-7890</p>

        </div>

        <div class="contact_panel_right">
            <h2> Send message </h2>

                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Message">
                <button type="submit">Send</button>

        </div>

    </div>

</div>