<div id="event_page">

    <div id="events_spacer">

        <div id="left_tabs">

            <div class="left_tab">

                <h3>Basketball</h3>

                <span><i class="uil uil-basketball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Baseball</h3>

                <span><i class="uil uil-baseball-ball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Tennis</h3>

                <span><i class="uil uil-tennis-ball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Soccer</h3>

                <span><i class="uil uil-football button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Hockey</h3>

                <span><i class="uil uil-check button__icon"></i></span>

            </div>

        </div>

        <div id="right_content">

            <!-- BASKETBALL TAB -->

            <div id="basketball_tab" class="sport_tab">

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

            </div>

            <div id="baseball_tab" class="sport_tab">

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

            </div>

            <div id="tennis_tab" class="sport_tab">

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

            </div>

            <div id="soccer_tab" class="sport_tab">

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

            </div>

            <div id="hockey_tab" class="sport_tab">

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

                <div class="event_content_spacer">

                    <h4>Event Name1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non deserunt accusamus ab? Quos id officiis cupiditate? Perferendis 
                        recusandae consectetur placeat a voluptatibus deserunt, dolor voluptas quasi repudiandae incidunt ipsam.</p>

                </div>

            </div>

        </div>

    </div>

</div>