<div id="hero_2">

    <div id="hero_video_spacer">

        <video id="hero_video" muted autoplay>
            <source src="./assets/videos/pick_up_sports.mp4" type="video/mp4">
        </video>

    </div>

    <div id="hero_main_spacer">

        <div class="hero_content_spacer">

            <div class="hero_content_line">

                <h2>Find Your Game</h2>

            </div>

            <div class="hero_content_line">

                <p>Join a game now or create one!</p>

            </div>

            <div class="hero_content_line">

                {{#if loggedIn}}

                <button id="create_main_login">Create Event</button>

                {{else}}

                <button id="hero_main_login">Login</button>

                {{/if}}

            </div>

        </div>

    </div>

    <div id="hero_login_spacer">

        <form id="hero_login_form">

            <div class="hero_login_input">

                <span><i class="uil uil-user-circle"></i></span>

                <input type="text" id="main_user" />

            </div>

            <div class="hero_login_input">

                <span><i class="uil uil-keyhole-circle"></i></span>

                <input type="password" id="main_password" />

            </div>

            <div class="hero_content_line">

                <button type="submit">Login</button>

            </div>

        </form>

    </div>

    <div id="hero_signup_spacer"></div>

</div>

<script src="/assets/js/home-page.js"></script>