<div id="hero_2">

    <div id="hero_video_spacer">

        <video id="hero_video" muted autoplay loop playsinline>
            <source src="./assets/videos/pick_up_sports.mp4" type="video/mp4">
        </video>

    </div>

</div>