<div id="login_page_container">

    <div id="login_spacer">

    <form id="hero_login_form">

            <div class="hero_login_input">

                <span><i class="uil uil-user-circle"></i></span>

                <input type="text" id="main_user" placeholder="Username"/>

            </div>

            <div class="hero_login_input">

                <span><i class="uil uil-keyhole-circle"></i></span>

                <input type="password" id="main_password" placeholder="Password"/>

            </div>

            <div class="hero_content_line">

                <button type="submit">Login</button>

            </div>

    </form>

    </div>

</div>

<script src="/assets/js/login.js"></script>