<h2 class="profile-title">
        Profile
    </h2>

    <div class="profile-page">

        <!-- Profile Container -->
        <div class="profile-container">

            <img src="/assets/images/avatar.jpeg" alt="Profile Picture" id="profile-picture" class="round"
                width="300" height="300">
            <h3>Welcome, (username)</h3>
            <p>Description: Lorem ipsum dolor sit amet.</p>

            <div class="events-buttons">
                <button class="events-created-btn">
                    Events Created
                </button>
                <button class="events-participating-btn">
                    Events Participating
                </button>
            </div>

            <div class="sport-skills">
                <h6>Sports:</h6>
                <ul>
                    <!--selected by user-->
                    <li>Basketball</li>
                    <li>Baseball</li>
                </ul>
            </div>
        </div>


        <!-- Events Created Container -->

        <div class="events-created-container">

            <div class="user-events-created">
                <div class="event-details">
                    <div class="event-image">
                        <img src="/assets/images/eventicon.png" width="100" height="100">
                    </div>
                    <div class="more-details">
                        <h3>Event Name1</h3>
                        <p><i class="uil uil-calender button__icon">Insert Date</i></p>
 
                    </div>
                    <div class="more-details-button">
                        <button>
                            More Details <i class="uil uil-arrow-right button__icon"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="events-participating-container active">
            <div class="user-events-created">
                <div class="event-details">
                    <div class="event-image">
                        <img src="/assets/images/eventicon.png" width="100" height="100">
                    </div>
                    <div class="more-details">
                        <h3>Event Name2</h3>
                        <p><i class="uil uil-calender button__icon">Insert Date</i></p>
 
                    </div>
                    <div class="more-details-button">
                        <button>
                            More Details <i class="uil uil-arrow-right button__icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>