<div id="profile_page_container">

    <div class="page_header_container">

        <h2>{{session.username}}'s Profile</h2>

    </div>

    <nav class="profile_nav">

        <div id="participating_tab" class="profile_event">

            <p>Participating</p>

        </div>

        <div id="created_tab" class="profile_event">

            <p>Created</p>

        </div>

    </nav>

    <div class="profile_panel_container">

        <div class="profile_panel_left">

            <div class="profile_spacer">

                <div class="profile_image">

                    <img src="/assets/images/avatar.jpeg" />

                </div>

                <div class="profile_info">

                    <h3>{{session.username}}</h3>

                    <p>{{session.description}}</p>

                </div>

                <div class="profile_sports">

                </div>

            </div>

        </div>

        <div class="profile_panel_right">

            <div id="events_participating" class="profile_event_spacer">

                <div class="profile_event_container">

                    <div class="profile_event_icon">

                        <img src="/assets/images/eventicon.png" />

                    </div>

                    <div class="profile_event_info">

                        <h3>PARTICIPATING Event</h3>

                        <div class="profile_event_date">
                        
                            <i class="uil uil-calender button__icon"></i>

                            <p>Event Date</p>

                        </div>

                    </div>

                    <div class="profile_event_button">

                        <button>More Info</button>

                    </div>

                </div>

            </div>

            <div id="events_created" class="profile_event_spacer">

                <div class="profile_event_container">

                    <div class="profile_event_icon">

                        <img src="/assets/images/eventicon.png" />

                    </div>

                    <div class="profile_event_info">

                        <h3>CREATED Event</h3>

                        <div class="profile_event_date">
                        
                            <i class="uil uil-calender button__icon"></i>

                            <p>Event Date</p>

                        </div>

                    </div>

                    <div class="profile_event_button">

                        <button>More Info</button>

                    </div>

                </div>

                <div class="profile_event_container">

                    <div class="profile_event_icon">

                        <img src="/assets/images/eventicon.png" />

                    </div>

                    <div class="profile_event_info">

                        <h3>CREATED Event</h3>

                        <div class="profile_event_date">
                        
                            <i class="uil uil-calender button__icon"></i>

                            <p>Event Date</p>

                        </div>

                    </div>

                    <div class="profile_event_button">

                        <button>More Info</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="/assets/js/profile-page.js"></script>