* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {

    --header-height: 3rem ;

    /* Colors */
    --primary-color: #ffff;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --light-blue: #CAEBF2;
    --dark-grey: #a9a9a9;
    --pink-red: #FF3B3F;
    --light-grey: #f4f4f4;

    /* Fonts */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* Box shadow */
    --bshadow-1: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --bshadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --bshadow-3: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px;
    --bshadow-4: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    --bshadow-5: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --bshadow-6: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

body {
    margin: 0 0 var(--header-height) 0;
    color: var(--tertiary-color);
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    overflow-x: hidden;
    background-color: var(--light-blue);
  }

  html {
    scroll-behavior: smooth;
}

  /*header*/

  header {
    padding: 20px 35px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* background-image: url("/public/assets/images/game.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

header a {
    text-decoration: none;
    color: black;
  }


  /* navbar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mainNav {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Event tabs */

.event_container {
  background-color: #ffffff;
  width: 120vmin;
  min-width: 30em;
  height: 30em;
  font-size: 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: 2fr 9fr;
  box-shadow: var(--bshadow-2);
  border-radius: 10px;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--light-grey);
  border: 1px solid #ccc;
  border-left: none;
}

.tab h3{
  height: 33.33%;
  display: grid;
  place-items: center;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.tab_content {
  padding: 1em 1.5em;
}

.tab_content h4 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  color: black;
  font-weight: 600;
}

.tab_content p {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: black;
}

.tab_content div {
  display: none;
}

.tab_content .active {
  display: block;
}

.tab .active {
  background-color: var(--pink-red);
  color: white;
  font-weight: 600;
}

.tab h3:hover {
  background-color: #ddd;
}

.button__icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

/*  Specific events page  */

.specificevent_container {
  background-color: #ffffff;
  width: 100vmin;
  min-width: 30em;
  height: 30em;
  font-size: 16px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: var(--bshadow-2);
  border-radius: 10px;
}

.sport {
  grid-column: span 2;
  margin: 20px 10px;
  justify-self: center;
}

.sport h3 {
  font-size: 1.8em;
  font-weight: 600;
  cursor: pointer;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;

}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.gamestatus {
  margin-top: 30px;
}

.event_icon {
  font-size: 2rem;
  margin-left: 0.5rem;
  transition: 0.3s;
  margin-right: 10px;
}

.description {
  margin-left: 50px;
}

.description_title {
  margin-bottom: 10px;
}
.circle {

    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } 

  .opendot, .closedot {
    margin: 20px;
    box-shadow: var(--bshadow-6);
  }

  /*    Buttons for join now */

  .join_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .join_now {
    background-color: #bbb;
    border-radius: 30px;
    box-shadow: var(--bshadow-6);
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .join_now:hover {
    background-color: #fff;
  }
  
  .join_now:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }






