#hero_2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#hero_video_spacer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background: #39a6b2;
}

#hero_video {
    /* mix-blend-mode: luminosity; */
    mix-blend-mode: screen;
    /* mix-blend-mode: hard-light; */
}