#profile_page_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/hockey_full.jpg') #188a97 no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.page_header_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
}

.profile_panel_container {
  width: 1200px;
  height: 480px;
  display: flex;
  background: #fff;
  box-shadow: var(--bshadow-2);
  border-radius: 10px;
  flex-direction: row;
  z-index: 2;
}

.profile_nav {
  width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.profile_nav .profile_event {
  display: flex;
  width: 200px;
  height: 40px;
  background: var(--tertiary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
}

.profile_nav .profile_event p {
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
}

/* LEFT SIDE PANEL */

.profile_panel_left {
  position: relative;
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_spacer {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.profile_image {
  display: flex;
  overflow: hidden;
  margin-top: 40px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 1px solid var(--tertiary-color);
}

.profile_info {
  display: flex;
  margin-top: 20px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_info h3 {
  font-size: 20px;
  font-weight: 600;
  max-width: 200px;
}

.profile_info p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  max-width: 300px;
}

.profile_sports {
  width: 100%;
  display: flex;
  height: 30px;
  margin-top: 20px;
}

.profile_sports p {
  font-weight: 600;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid var(--tertiary-color);
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 14px;
}

/* RIGHT SIDE PANEL */

.profile_panel_right {
  position: relative;
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_event_spacer {
  display: flex;
  position: relative;
  width: 90%;
  border-radius: 10px;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.profile_event_container {
  display: flex;
  width: 90%;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
  background: #f1f1f1;
  flex-direction: row;
  align-items: center;
}

.profile_event_container:nth-child(1) {
  margin-top: 30px;
}

.profile_event_icon {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  object-fit: contain;
  margin-left: 20px;
  border-radius: 30px;
  background: var(--tertiary-color);
}

.profile_event_info {
  position: relative;
  width: 200px;
  height: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.profile_event_date {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_event_date p {
  font-weight: 600;
  margin-left: 10px;
}

.profile_event_icon img {
  mix-blend-mode: screen;
}

.profile_event_button {
  position: relative;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_event_button button {
  width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    background-color: #39a6b2;
    border-radius: 25px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
}

.profile_event:hover {
  cursor: pointer;
}

#events_participating {
  display: none;
}

#events_created {
  display: flex;
}

.profile_mobile_nav {
  display: none;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile_mobile_nav nav {
  display: flex;
  flex-direction: row;
}

.profile_mobile_nav button {
  width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    background-color: #39a6b2;
    border-radius: 25px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
}

#mobile_participating {
  margin-right: 20px;
}

.profile_event_icon span {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.profile_accept, .profile_deny, .profile_undecided {
  display: none;
}